c/AlphaTech/output
c/AlphaTech/sec13/output
c/AlphaTech/sec14/output
c/AlphaTech/sec15/output
c/AlphaTech/sec16/output
c/AlphaTech/sec17/output
c/AlphaTech/sec18/output
c/AlphaTech/sec19/output
c/AlphaTech/sec20/output
c/AlphaTech/sec21/output
c/AlphaTech/sec22/output
c/AlphaTech/sec23/output
c/AlphaTech/sec24/output
c/AlphaTech/sec25/output
c/AlphaTech/sec26/output
c/AlphaTech/sec27/output
c/AlphaTech/sec28/output
c/AlphaTech/sec29/output
c/AlphaTech/sec30/output

c/kuruC/output
c/kuruC/practic1/output
c/kuruC/practic2/output
c/kuruC/practic3/output
c/kuruC/practic4/output
c/kuruC/practic5/output
c/kuruC/practic6/output
c/kuruC/practic7/output
c/kuruC/practic8/output
c/kuruC/practic9/output
c/kuruC/practic10/output
c/kuruC/practic11/output
c/kuruC/practic12/output
c/kuruC/practic13/output
c/kuruC/practic14/output
c/kuruC/practic15/output
c/kuruC/practic16/output
c/kuruC/practic17/output
c/kuruC/practic18/output
c/kuruC/practic19/output
c/kuruC/practic20/output
